.main-section {
  $bar-left-margin: 265px + ($h-padding-b1);
  $bar-top-margin: 255px;
  $main-section-idea-height: 732px;

  margin-top: 10px;
  width: 100%;
  position: relative;

  &__header {
    max-width: 320px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    @include if-wider-than($breakpoint-1) {
      max-width: 400px;
    }
  }

  &__title,
  &__intro {
    @include rem(margin-top, 20px);
    @include rem(margin-bottom, 50px);
    @include if-wider-than($breakpoint-1) {
      @include rem(margin-bottom, 70px);
    }
  }

  &__title {
    @include rem(font-size, 48px);
    @include rem(margin-bottom, 50px);
    @include if-wider-than($breakpoint-1) {
      @include rem(margin-bottom, 70px);
      @include rem(font-size, 84px);
    }
  }

  &__bar {
    background-color: $blue;
    position: absolute;
    height: 100%;
    top: 0;
    left: calc(100% - 10px);
    width: 10px;
    transition-property: left;
    transition-duration: 0.3s;
    transition-timing-function: $easeInOutQuad;

    @include if-wider-than($breakpoint-1) {
      left: 265px;
      top: 135px;
      height: 230px;
      width: calc(100% - 265px);
    }

    @include if-wider-than($breakpoint-2) {
      left: 265px + 50px;
      width: calc(100% - (265px + 50px));
    }

    @include if-wider-than(1280px) {
      width: 100%;
    }

  }

}

.no-touchevents {
  .main-section {
    &__link {
      transition: background-color 0.1s $easeOutQuad;
      &:hover {
        background-color: darken($blue, 15%);
      }
    }
  }
}

.no-touchevents.csstransitions {
  $animation-bar-duration: 1200ms;
  $first-delay: 600ms;
  .main-section {
    &__bar {
      transform: translateX(-150%);
      transition-property: transform;
      transition-delay: $first-delay;
      transition-duration: $animation-bar-duration;
      transition-timing-function: $easeOutBack;
    }
    .social-links__icon {
      opacity: 0;
      transition-property: opacity;
      transition-duration: 800ms;
      transition-timing-function: $easeOutQuad;
      $initial-delay: $animation-bar-duration/2 + $first-delay;
      $stagger-delay: 150ms;
      $num-icons: 3;

      @for $i from 1 through $num-icons {
        &:nth-child(#{$i}) {
          transition-delay: $initial-delay + ($stagger-delay * $i);
        }
      }
    }
    &.is-fully-visible {
      .main-section{
        &__bar {
          transform: translateX(0%);
        }
      }
      .social-links__icon {
        opacity: 1;
      }
    }
  }
}
