//
// Font stacks
//
$font-family-serif: Georgia, Times, 'Times New Roman', serif;

//
// Breakpoints
//
$breakpoint-1: 640px;

//
// Colors
//
$blue: #B6D2DF;
$yellow: #FDEBC5;


$ideal-width: 1024px;
