//
// Font stacks
//
$font-family-serif: Georgia, Times, 'Times New Roman', serif;
$font-family-condensed: 'Open Sans Condensed', sans-serif;

$font-weight-condensed: 400;

//
// Breakpoints
//
$breakpoint-1: 640px;

//
// Colors
//
$white: #FFFFFF;
$blue: #B6D2DF;
$yellow: #FDEBC5;
$dark-gray: #333333;


$ideal-width: 1024px;
$section-vertical-padding: 60px;
