.section {

  @include rem(margin-top, 60px);

  @include rem(padding-top, $section-vertical-padding);
  @include rem(padding-bottom, $section-vertical-padding);

  @include if-wider-than($breakpoint-1) {
    @include rem(margin-top, 135px);
    @include rem(padding-top, $section-vertical-padding * 2);
    @include rem(padding-bottom, $section-vertical-padding * 2);
  }

  &__wrapper {
    @include rem(padding-left, 25px);
    @include rem(padding-right, 25px);
    @include if-wider-than($breakpoint-1) {
      max-width: 820px;
      margin-left: auto;
      margin-right: auto;
      @include rem(padding-left, 100px);
      @include rem(padding-right, 100px);
    }

    @include if-wider-than($breakpoint-2) {
      max-width: 980px;
      margin-left: auto;
      margin-right: auto;
      @include rem(padding-left, 150px);
      @include rem(padding-right, 150px);
    }
  }

  &--color-yellow {
    background-color: $yellow;
  }

  &--color-gray {
    background-color: $dark-gray;
  }

  &--color-blue {
    background-color: $blue;
  }

  &__title {
    width: 100%;
    @include rem(margin-bottom, 30px);
    @include if-wider-than($breakpoint-1) {
      @include rem(margin-bottom, 50px);
    }
  }
}

.flexbox {
  .section {
    margin-top: 0;
    display: flex;
    align-items: center;

    @include if-wider-than($breakpoint-1) {
      min-height: calc(100vh - #{$section-vertical-padding * 4});
      &--is-revealing-next {
        min-height: calc(90vh - #{$section-vertical-padding * 4});
        // min-height: 90vh;
      }
    }

  }
}
