.section {

  @include rem(margin-top, 60px);
  @include rem(padding-left, 20px);
  @include rem(padding-right, 20px);
  @include if-wider-than($breakpoint-1) {
    @include rem(margin-top, 135px);
    @include rem(padding-left, 100px);
    @include rem(padding-right, 100px);
  }

  &--color-yellow {
    background-color: $yellow;
  }

  &--color-gray {
    background-color: $dark-gray;
  }

  &--color-blue {
    background-color: $blue;
  }

  &__title {
    width: 100%;
    @include rem(margin-top, 30px);
    @include rem(margin-bottom, 30px);
    @include if-wider-than($breakpoint-1) {
      @include rem(margin-top, 90px);
      @include rem(margin-bottom, 50px);
    }
  }
}

.flexbox {
  .section {
    margin-top: 0;
    display: flex;
    align-items: center;
    min-height: 100vh;
  }
}
