
/*
* Breakpoint wider than number of pixels
*
* @example
* @include if-wider-than(960px) { color: hotpink; }
*
*/
@mixin if-wider-than($b) {
	@media (min-width: $b) {
		@content;
	}
}

/*
* Breakpoint narrower than number of pixels (removing 1px to not overlap with min-width)
*
* @example
* @include if-narrower-than(960px) { color: hotpink; }
*
*/
@mixin if-narrower-than($b) {
	@media (max-width: #{$b - 1px} ){
		@content;
	}
}

/*
* Breakpoint taller than number of pixels
*
* @example
* @include if-taller-than(960px) { color: hotpink; }
*
*/
@mixin if-taller-than($b) {
	@media (min-height: $b) {
		@content;
	}
}


/*
* Breakpoint shorter than number of pixels (inclusive)
*
* @example
* @include if-shorter-than(960px) { color: hotpink; }
*
*/
@mixin if-shorter-than($b) {
	@media (max-height: #{$b - 1px} ) {
		@content;
	}
}
